.DS_Store
/bin
/src
/pkg
/cli/peers/**
/insuranceCA/ca/**
/insuranceCA/tls/**
/policeCA/ca/**
/policeCA/tls/**
/repairShopCA/ca/**
/repairShopCA/tls/**
/shopCA/ca/**
/shopCA/tls/**
/web/certs/**
/orderer/crypto/**
/insurancePeer/crypto/**
/policePeer/crypto/**
/repairShopPeer/crypto/**
/shopPeer/crypto/**
**/tls
**/*.pem
/orderer/crypto
/insurancePeer/crypto
/policePeer/crypto
/repairShopPeer/crypto
/shopPeer/crypto/
