{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {}
  },
  "plugins": [
    "react-intl"
  ]
}
