kv.store
node_modules
.DS_Store
.vscode
.idea
.env
npm-debug.log
.jshintignore
.jshintrc
bin
dist
!chaincode/
!chaincode/src
!chaincode/src/bcins
insurance-peer
shop-peer
repairshop-peer
police-peer
www/blockchain/wallet
